*{
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.header{
  width:100%;
  min-height: 100vh;
  /*background-image:url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701505035.jpg);*/
  background-size:cover;
  background-image:url(image1/M3.jpg);
  background-position: center;
  background-repeat: no-repeat;

}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: relative;
  width: 100%;
  z-index:999;
}
nav img{
  width: 80px;
  min-height:80px;
  border-radius: 50%;
  transition:1s;
}
nav img:hover{
  transform: rotate(360deg);
}
.nav_link{
  flex:1;
  text-align: right;
}
.nav_link li{
  display: inline-block;
  padding: 10px 15px;
  list-style: none;
  position: relative;
  margin-bottom: 40px;
}
.nav_link li a{
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}
.nav_link li a:hover{
  color:blue;
  font-weight: 500;
}
.text{
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 150px;
  color:#fff;
}
.text h1{
  font-size: 40px;
  font-weight: 600;
  padding-bottom:20px;

}
.main_btn{
  color:#fff;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 16px;
  text-decoration: none;
}
.main_btn:hover{
  background: rgb(0,106,255);
  border: rgb(0,106,255);
  transition: 0.7s;
}
.title{
display: flex;
justify-content: center;
color:#3a6cf4;
font-size: 40px;
font-weight: 700;
margin-bottom: 30px;
}
.content{
  display: flex;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;
}
.course{
  background-color: aqua;

}
.course .coutent{
  margin-top: 30px;
}
.course_card{
  background-color: #fff;
  border:1px solid #fff;
  min-height: 14em;
  width:23em;
  overflow: hidden;
  border-radius: 5px;
  margin: 50px;
  transition: 0.7s ease;
}
.course_card:hover{
  transform: scale(1.1);
}
.course_img img{
  width:100%
}
.course_inf{
  padding: 16px;
}
.course_categray{
  font-size: 18px;
  color:#000;
  text-align: center;
}
.course_title{
  display:flex;
  justify-content: space-between;
  font-weight: 500;


}
.web1{
  text-decoration: none;
  color:blue;
  padding-left: 111px;
  font-size: 20px;
  font-weight: 700;
}
.web2{
  text-decoration: none;
  color: blue;
  padding-left: 100px;
  font-size: 20px;
  font-weight:700;
}
.web3{
  text-decoration: none;
  color: blue;
  padding-left: 80px;
  font-size: 20px;
  font-weight:700;
}
.web4{
  text-decoration: none;
  color: blue;
  padding-left: 125px;
  font-size: 20px;
  font-weight:700;
}
.web5{
  text-decoration: none;
  color: blue;
  padding-left: 90px;
  font-size: 20px;
  font-weight:700;
}
