@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: ghostwhite;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.logo {
  text-decoration: none;
  color: red;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.logo:hover {
  color: brown;
  transform: scale(1.2);
  transition: 0.6s ease;
}
.navigation a {
  text-decoration: none;
  border-radius: 15px;
  color: white;
  padding: 0.2375em 2em;
  background-color: red;
  display: inline-block;
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
}
.navigation a:hover {
  background-color: brown;
  transform: scale(1.05);
  transition: 0.6s ease;
}
section {
  padding: 100px 200px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(back.jpg);
  background-position: center;
}
.main h2 {
  color: white;
  font-weight: 500;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: red;
  font-size: 2em;
  font-weight: 600;
}
.main h3 {
  color: white;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main_btn {
  color: white;
  background-color: red;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.18em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.main_btn:hover {
  background-color: brown;
  transform: scale(1.1);
  transition: 0.6s ease;
}
.icons a {
  color: white;
  font-size: 1.7em;
  padding-right: 30px;
}
.icons a:hover {
  color: brown;
  transition: 0.6s ease;
}

.title {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.title {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.fields {
  background-color: #000016;
}
.fields .content {
  margin-top: 30px;
}
.card {
  background-color: white;
  min-height: 14em;
  width: 23em;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.6s ease;
}
.image img {
  width: 100%;
}
.info {
  padding: 1em;
}
.text {
  font-size: 0.8em;
  color: black;
}

.E_title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
.Roadmap {
  text-decoration: none;
  color: red;
}
.Roadmap:hover {
  color: brown;
  transform: scale(1.1);
  transition: 0.6s ease;
}
