body
{
  padding: 0px;
  margin: 0px;
  background:linear-gradient(-135deg,#c850c0,#4158d0);
  font-family:Arial;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
/* To give the screen a length of 100 percent ,regardless of the content of the body */
 min-height: calc(100vh - 50px)

}
form
{
width:450px;
height: 500px;
border:1px solid purple;
border-radius: 30px;
margin: 50px auto;
}
h2
{
  color:#fff;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  font-family: Arial
}
input[type="text"],[type="password"]
{
  width:300px;
  height: 60px;
  margin-bottom: 20px;
  margin-left: 70px;
  border:1px solid purple;
  border-radius: 15px;
  outline: none;
}
input[type="text"],[type="password"]::placeholder
{
  font-size: 20px;
  text-align: center;
  color: blue;
  font-style: italic;
  background-color: sand;
}

input[type="submit"]
{
  width:300px;
  height: 60px;
  margin-left: 70px;
  border:1px solid blue;
  border-radius: 15px;
  outline: none;
  font-size: 30px;
  background:linear-gradient(-135deg,#c850c0,#4158d0);
  color: #fff;
  font-style: #fff;
}

}
.btn2
{
  color:#fff;
  text-decoration:none;
  font-size: 25px;
  display:inline-block;
  text-align: center;
  padding-left: 115px;
  padding-top: 23px;
}
.btn3
{
  color:#fff;
  text-decoration:none;
  font-size: 25px;
  display:inline-block;
  text-align: center;
  padding-left: 110px;
  padding-top: 50px;
}
a
{
  color:#fff;
  text-decoration:none;
  font-size: 25px;
  display:inline-block;
  text-align: center;
  padding-left: 115px;
  padding-top: 23px;
}
}

a:hover
{
  color:blue;

}
